<h1>{{titulo}}</h1>
<div class="row animated fadeIn fast"  *ngIf="peliculas" >

    <!-- Caja Derecha -->
    <div class="col-sm-6">

        <!-- Imagen grande -->
        <div class="row">
            <div class="col-md-12 div-pic-1"
                [ngStyle]="{'background-image': 'url( '+(peliculas[0] | peliculaImagen)+')'}">
            </div>
        </div>

        <!-- Imágenes pequeñas -->
        <div class="row">
            <!-- Imagen Izquierda -->
            <div class="col-sm-6 div-pic-2 "
                [ngStyle]="{'background-image': 'url( '+(peliculas[1] | peliculaImagen)+')'}">
            </div>
            <!-- Imagen Derecha -->
            <div class="col-sm-6 div-pic-2 "
                [ngStyle]="{'background-image': 'url( '+(peliculas[2] | peliculaImagen)+')'}">
            </div>
        </div>

    </div>


    <!-- Caja Izquierda -->
    <div class="col-sm-6">
        <!-- Imágenes pequeñas -->
        <div class="row">
            <!-- Imagen Izquierda -->
            <div class="col-sm-6 div-pic-2 "
                [ngStyle]="{'background-image': 'url( '+(peliculas[3] | peliculaImagen)+')'}">
            </div>
            <!-- Imagen Derecha -->
            <div class="col-sm-6 div-pic-2 "
                [ngStyle]="{'background-image': 'url( '+(peliculas[4] | peliculaImagen)+')'}">
            </div>
        </div>

        <!-- Imagen grande -->
        <div class="row">
            <div class="col-md-12 div-pic-1"
                [ngStyle]="{'background-image': 'url( '+(peliculas[5] | peliculaImagen)+')'}">
            </div>
        </div>
    </div>

</div>